.accdetails {
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    /* padding-bottom: 30px; */
}

.accimg-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    width: 90%;
}

.main-accimg {
    grid-column: span 2;
    grid-row: span 2;
}

.sub-main-accimg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-accimg img, .sub-main-accimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.acc-details-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-top: 20px;
}

.prop-name {
    color: black;
    font-size: 30px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.prop-loc {
    color: rgb(67, 67, 67);
    font-size: 15px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    display: flex;
    align-items: center;
}

.prop-loc img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.prop-price {
    color: black;
    font-size: 30px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    margin-left: auto;
}

.accommodation-footer {
    margin-top: 10px;
}

.book-a {
    background-color: #ff4081;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    transition: box-shadow 0.15s;
}

.book-a:hover {
    background-color: #fd1a66;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 50px;
}

.accommodation-details {
    text-align: center;
}

.accommodation-details h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.accommodation-details p {
    font-size: 1.1em;
    margin: 10px 0;
    color: #555;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
