.container {
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.card {
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    width: 550px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card img {
    object-fit: cover;
}

.card-content {
    padding: 20px;
    flex: 1;
    position: relative;
}

.card-details .card-highlight{
    background-color: rgb(244, 244, 244);
    border-radius: 5px;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
}


.card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.card-title a{
    color: #111928;
    text-decoration: none;
}

.card-title:hover{
    text-decoration: underline;
}

.card-location {
    color: #777;
    margin-bottom: 10px;
}

.card-details {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

.card-details div {
    display: flex;
    align-items: center;
}

.card-details div img {
    margin-right: 5px;
    width: 16px; 
    height: 16px;
}

.card-price {
    font-size: 20px;
    font-weight: bold;
    color: #000;
    margin-top: 10px;
    color: #111928;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    display: inline-block;
}

.card-button {
    text-align: right;
    margin-top: 10px;
    display: inline-block;
}

.card-button p {
    background-color: #47ce78;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    /* position: absolute; */
    right: 5%;
    text-decoration: none;
    bottom: 10%;
    transition: box-shadow 0.15s;
}


.card-price span{
    font-weight: lighter;
    font-size:15px;
    color:#000;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}


.card-button a:hover {
    background-color: #e03571;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
